{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb_routing_countrytyperule_list' %}">CountryTypeRule Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>status</td>
    <td>route_type</td>
    <td>weight</td>
    <td>priority</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.status }}</td>
    <td>{{ object.route_type }}</td>
    <td>{{ object.weight }}</td>
    <td>{{ object.priority }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb_routing_countrytyperule_create' %}">Create new CountryTypeRule</a>
{% endblock %}