{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb_routing_customerroutinggroup_list' %}">CustomerRoutingGroup Listing</a></p>
<table class="table">
<tr><td>description</td><td>{{ object.description }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit CustomerRoutingGroup</a>

{% endblock %}