{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb_routing_customerroutinggroup_list' %}">CustomerRoutingGroup Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>description</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.description }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb_routing_customerroutinggroup_create' %}">Create new CustomerRoutingGroup</a>
{% endblock %}