{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb_routing_defaultrule_list' %}">DefaultRule Listing</a></p>
<table class="table">
<tr><td>status</td><td>{{ object.status }}</td></tr>
<tr><td>route_type</td><td>{{ object.route_type }}</td></tr>
<tr><td>weight</td><td>{{ object.weight }}</td></tr>
<tr><td>priority</td><td>{{ object.priority }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit DefaultRule</a>

{% endblock %}